### Spring Port Config
SPRING_PORT=8888
### Spring DB Config
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
ORACLE_PASSWORD=
SPRING_DATASOURCE_DRIVER=
###   Refresh Token Config
JWT_COOKIE_NAME=
JWT_COOKIE_REFRESH_NAME=
JWT_SECRET=
# JWT_EXPIRATION=86400000
# JWT_REFRESH_EXPIRATION=86400000
JWT_EXPIRATION=60000
JWT_REFRESH_EXPIRATION=120000
###   Mailtrap Config
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
###   Default account
# Admin
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=